.wrapper {
	text-align: center;
	width: 60%;
	margin: auto;
	background-color: #F9B8FC;
}

.logo-large {
	text-align: center;
}

.ool {
	text-align: left;
}

.tema {
	text-align: left;
}

#butt_01 {
	display: none;
}
/* #butt_02 {
	display: none;
} */
#butt_03 {
	display: none;
}
#butt_04 {
	display: none;
}

